# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\source\repos\youtupy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
